div#app{
    padding: 2rem;
}

div#app > section:first-of-type {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

div#app > section:nth-of-type(2) {
    text-align: center;
    padding: 2rem 0;
}